.abt{
    margin-top: 6%;
}

.us{
    margin-top: -1%;
}

.ab{
    font-family: 'Lato';
    font-weight: 800;
    margin-left: 10%;
    margin-top: 15%;
}

.chf{
    margin-top: -15%;
    margin-left: 55%;
}

.keterangan{
    margin-top: -32%;
    margin-left: 10%;
    font-family: 'Georgia';
    font-weight: 400;
}